.grid-main {
    height: 700px;
    vertical-align: baseline;
    background-image: url('../assets/cityscapes.jpeg');
    background-position: 50% 50%;
  }

.grid-container {
    display: grid;
    height: 700px;
    grid-template-columns: auto auto;
    margin-left: 220px;
    margin-right: 220px;
  }

.grid-info {
    font-size: 13px;
    color: white;
}
