.grid-containerH2 {
    margin-bottom: 0px;
    height: 560px;
    vertical-align: baseline;
    background-color: transparent;
    background-position: 50% 50%;
    text-align: center;
    position: relative;
    display: inline-block;
}

.grid-mainH2 {
    margin-bottom: 0px;
    height: 560px;
    vertical-align: baseline;
    background-color: #252525;
    background-image: url('../assets/cityscapes.jpeg');
    background-position: 50% 50%;
    text-align: center;
}

.grid-header2 {
    margin-top: 95px;
    padding: 20px;
    font-size: 13px;
    color: white;
}

.mainText {
    font-size: 34px;
    font-weight: bold;
    position: absolute;
    top: 32%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    padding-top: 5px;
}

.mainText22 {
    font-size: 34px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    padding-top: 10px;
}

.infoText4 {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    padding-top: 10px;
}

.btn1H2 {
    margin-top: 30px;
    background-color: transparent;
    position: absolute;
    border: none;
    color: white;
    padding: 11px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    top: 55%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
  }

.btnH2 {
    margin-top: 45px;
    background-color: transparent;
    color: white;
    border: 2px solid #e7e7e7;
}

.btnH2:hover {
    background-color: white;
    color: black;
}